<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="icon-container">

      <!-- Liens légaux -->
      <div class="footer-text">
        <a class="Mentions" [routerLink]="['/mentions-Légales']">{{ lien1 }}</a>
        <a class="donnees" [routerLink]="['/donnees-personnelles']">{{ lien2 }}</a>
        <a class="accessibilité" [routerLink]="['/accessibilite']">{{ lien3 }}</a>
        <a class="cookies" [routerLink]="['/cookies']">{{ lien4 }}</a>
      </div>

      <!-- Réseaux sociaux -->
      <ul class="social-média">
        <li>
          <a href="http://www.facebook.com" target="_blank" title="Facebook" rel="noopener noreferrer">
            <fa-icon [icon]="faFacebook" aria-hidden="true"></fa-icon>
            <span class="visually-hidden">Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://x.com/Accueil" target="_blank" title="X (ancien Twitter)" rel="noopener noreferrer">
            <fa-icon [icon]="faTwitter" aria-hidden="true"></fa-icon>
            <span class="visually-hidden">X (ancien Twitter)</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank" title="Instagram" rel="noopener noreferrer">
            <fa-icon [icon]="faInstagram" aria-hidden="true"></fa-icon>
            <span class="visually-hidden">Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com" target="_blank" title="LinkedIn" rel="noopener noreferrer">
            <fa-icon [icon]="faLinkedin" aria-hidden="true"></fa-icon>
            <span class="visually-hidden">LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://www.github.com" target="_blank" title="GitHub" rel="noopener noreferrer">
            <fa-icon [icon]="faGithub" aria-hidden="true"></fa-icon>
            <span class="visually-hidden">GitHub</span>
          </a>
        </li>
      </ul>

      <!-- Coordonnées -->
      <div class="footer-coordinates">
        <p>
          <a
            href="https://www.google.fr/maps/place/H%C3%B4tel+de+R%C3%A9gion+-+R%C3%A9gion+Auvergne-Rh%C3%B4ne-Alpes/@45.7406606,4.8169138,17z"
            target="_blank"
            rel="noopener noreferrer">
            {{ adresse }}
          </a>
        </p>
        <p>{{ teL }}</p>
      </div>

    </div>
  </div>
</nav>

    


